@font-face {
    font-family: 'PPFormula';
    src: url('sources/fonts/PPFormula-CondensedBlack.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('sources/fonts/PPNeueMontreal-Book.woff2') format('opentype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('sources/fonts/PPNeueMontreal-Regular.woff2') format('opentype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('sources/fonts/PPNeueMontreal-Medium.woff2') format('opentype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('sources/fonts/PPNeueMontreal-Bold.woff2') format('opentype');
    font-weight: 700;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --orange: #EA5F28;
    --white: #FFFCF3;
    --white2: #EAE8E3;
    --black: #252422;
    --black2: #1F1E1C;
}

::selection {
    background: var(--orange);
    color: var(--white);
}

html {
    scroll-behavior: smooth;
}

/* Presets */

h1 {
    font-family: 'PPFormula', fallback, sans-serif;
    text-transform: uppercase;
    font-size: 15.625rem;
    letter-spacing: -1%;
    line-height: 110%;
}

h2 {
    font-family: 'PPFormula', fallback, sans-serif;
    text-transform: uppercase;
    font-size: 7rem;
    letter-spacing: -1%;
    line-height: 110%;
}

h3 {
    font-family: 'PPFormula', fallback, sans-serif;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: -1%;
    line-height: 110%;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    opacity: .7;
}

.subheading {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.subheading span {
    width: 0.3125rem;
    height: 0.3125rem;
    background-color: var(--orange);
    border-radius: 50%;
}

.subheading li {
    font-size: 1.125rem;
    font-weight: 400;
    list-style-type: none;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    padding: 0.875rem 1.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 6.25rem;
    text-decoration: none;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

.btn span {
    list-style-type: none;
    display: inline-block;
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn:after {
    position: absolute;
    left: 1.25rem;
    width: 100%;
    content: attr(data-replace);
    transform-origin: 50% 100%;
    transform: translate3d(0, 200%, 0);
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn:hover::after {
    transform: translate3d(0, 0, 0);
}

.btn:hover span {
    transform: translate3d(0, -200%, 0);
}

.btn svg {
    transition: .3s;
}

.btn:hover svg {
    transform: rotate(-45deg);
    transition: .3s;
}

footer .btn:hover svg {
    transform: rotate(45deg);
}

.primary-btn {
    border: 1px solid rgba(234, 95, 40, 0.30);
    background-color: var(--orange);
    color: var(--white);

}

.secondary-btn {
    color: var(--orange);
    border: 1px solid rgba(234, 95, 40, 0.30);
}

.tags {
    display: flex;
    gap: 0.25rem;
}

.tag {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--black);
    opacity: .7;
    border-radius: 6.25rem;
    border: 1px solid rgba(37, 36, 34, 0.20);
    padding: 0.4375rem 0.875rem;
    list-style-type: none;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    border-radius: 0.1875rem;
    position: relative;
    overflow: hidden;
}

.img-wrapper a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--black);
    opacity: .1;
}

.divider.show-animation {
    animation: divider-animation 2s;
    animation-fill-mode: forwards;
}

@keyframes divider-animation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.padding-global {
    padding: 0rem 4rem;
}

section {
    position: relative;
    width: 100vw;
}

.container-large {
    width: 100%;
}

.container-medium {
    margin-left: 10.375rem;
    width: 100%;
}

/* Main */

.show-animation {
    animation: pop-in 1s;
    animation-fill-mode: forwards;
}

@keyframes pop-in {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        opacity: auto;
        transform: translateY(auto);
    }
}

body {
    font-family: 'PPNeueMontreal', fallback, sans-serif;
    background-color: var(--white);
    color: var(--black);
    width: 100vw;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 9.25rem;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    background-color: var(--white);
    z-index: 10;
    transform: translateY(0%);
}

nav.scrolled {
    border-bottom: 1px solid rgba(37, 36, 34, 0.10);
    transform: translateY(-100%);
}

nav.scrolled-up {
    border-bottom: 1px solid rgba(37, 36, 34, 0.10);
    transform: translateY(0%);
}

.scroll_status {
    position: fixed;
    height: .25rem;
    background-color: var(--orange);
    z-index: 30;
}

nav .nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2.0625rem 0rem;
    transition: .3s;
}

nav.scrolled .nav_content {
    margin: 1rem 0rem;
    transition: .3s;
}

nav.scrolled-up .nav_content {
    margin: 1rem 0rem;
    transition: .3s;
}

nav .nav_logo {
    opacity: .9;
}

nav .nav_wrapper {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

nav .nav_links {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

nav .nav_link {
    padding: 1rem 1.75rem;
    border: 1px solid rgba(234, 95, 40, 0.50);
    color: var(--orange);
    text-decoration: none;
    border-radius: 6.25rem;
    min-width: 6.5rem;
    text-align: center;
}

nav .nav_link li {
    font-weight: 500;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;
}

nav .nav_link li span {
    display: inline-block;
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

nav .nav_link li::after {
    position: absolute;
    left: 0rem;
    width: 100%;
    content: attr(data-replace);
    transform-origin: 50% 100%;
    transform: translate3d(0, 200%, 0);
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

nav .nav_link:hover li::after {
    transform: translate3d(0, 0, 0);
}

nav .nav_link:hover li span {
    transform: translate3d(0, -200%, 0);
}

nav .nav_divider {
    width: 0.0625rem;
    height: 80%;
    min-height: 2rem;
    background-color: var(--black);
    opacity: 0.2;
    display: none;
}

nav .nav_link:nth-child(2) {
    background-color: var(--orange);
    color: var(--white);
}

nav .nav_language-btn {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    padding: 1rem 1.75rem;
    border: 1px solid rgba(234, 95, 40, 0.50);
    border-radius: 6.25rem;
    cursor: pointer;
    text-decoration: none;
    display: none;
}

nav .nav_language-btn li {
    color: var(--orange);
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500;
    list-style-type: none;
}

section.is-hero {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 7.25rem;
    padding-top: 4rem;
}

section.is-hero .hero_content {
    display: flex;
    flex-direction: column;
    align-self: left;
    align-items: center;
    gap: 0.625rem;
    margin-top: 9.25rem;
}

section.is-hero .hero_h1-wrapper {
    position: absolute;
    left: 0;
    animation: moveX 30s infinite linear;
    animation-fill-mode: forwards;
    display: flex;
    align-items: first baseline;
    gap: 1.88rem;
}

section.is-hero .hero_img-wrapper {
    padding: 0rem 0rem;
    transition: .2s;
}

section.is-hero.scrolled .hero_img-wrapper {
    padding: 0rem 4rem;
    transition: .2s;
}

@keyframes moveX {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100% + 100vw - 1.88rem));
    }
}

section.is-hero .hero_title-wrapper {
    position: relative;
    width: 100vw;
    height: 15rem;
    overflow-x: hidden;
}

section.is-hero .hero_h1-wrapper h1 {
    white-space: nowrap;
    opacity: .9;
    line-height: 110%;
}

.hero_img-cta {
    position: absolute;
    background-color: var(--orange);
    width: 11.3125rem;
    height: 11.3125rem;
    border-radius: 6.25rem;
    pointer-events: none;
    transform: scale(0) translateY(-50%);
    z-index: 9999;
    transition: transform 0.3s .2s;
}

.cursor_cta-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cursor_text {
    overflow: hidden;
}

.hero_img-cta li {
    font-size: 0.875rem;
    line-height: normal;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    list-style-type: none;
    max-width: 12ch;
    transform: translateY(100%);
    transition: transform .2s 0s;
}

.hero_img-wrapper .img-wrapper:hover~.hero_img-cta {
    transform: scale(1);
    transition: transform 0.3s .17s;
}

.hero_img-wrapper .img-wrapper:hover~.hero_img-cta li {
    transform: translateY(0%);
    transition: transform .2s .5s;
}

.hero_img-wrapper .img-wrapper img {
    transform: scale(1.05);
    transition: .3s;
}

.hero_img-wrapper .img-wrapper:hover img {
    transform: scale(1);
    transition: .3s;
}

section.is-intro .intro_content {
    display: flex;
    flex-direction: column;
    gap: 5.625rem;
}

section.is-intro .intro_content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

section.is-intro p {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 160%;
    color: var(--black);
    opacity: .6;
    max-width: 52ch;
}

section.is-services .services_content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6.4375rem;
}

section.is-services .services_wrapper {
    width: 80%;
    margin-right: 6.4375rem;
    min-width: 26rem;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

section.is-services .services_img {
    width: 100%;
}

section.is-services .services_img img {
    width: 100%;
    border-radius: 0rem 0.1875rem 0.1875rem 0rem;
}

section.is-services .service_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2.5rem 0rem;
    color: var(--black);
}

section.is-services .service_item h3 {
    opacity: .9;
    width: 100%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
}

section.is-services .service_item h3 span {
    display: inline-block;
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

section.is-services .service_item h3::after {
    position: absolute;
    left: 0rem;
    width: 100%;
    content: attr(data-replace);
    transform-origin: 50% 100%;
    transform: translate3d(0, 200%, 0);
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

section.is-services .service_item:hover h3::after {
    transform: translate3d(0, 0, 0);
}

section.is-services .service_item:hover h3 span {
    transform: translate3d(0, -200%, 0);
}

section.is-services .service_item .service_images {
    width: 2rem;
    display: flex;
    justify-content: right;
    overflow: hidden;
    gap: 1rem;
    padding-left: 1rem;
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

section.is-services .service_item:hover .service_images {
    transform: translateX(1rem);
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

section.is-services .service_item:hover .service_images img {
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
    transform: translateX(100%);
    padding-left: .25rem;
}

section.is-services .service_item img {
    width: 2rem;
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

section.is-about .about_content {
    display: flex;
    flex-direction: column;
    gap: 5.625rem;
}

section.is-about .about_content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

section.is-about p {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 160%;
    color: var(--black);
    opacity: .6;
    max-width: 42ch;
}

section.is-work .work_title-wrapper {
    position: relative;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    margin-bottom: 2.3rem;
}

section.is-work .work_title-btn {
    padding: 1rem 1.75rem;
    border-radius: 6.25rem;
    border: 1px solid rgba(234, 95, 40, 0.50);
    text-decoration: none;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    transition: .2s;
    color: var(--orange);
}

section.is-work .work_title-btn span {
    font-weight: 500;
    list-style-type: none;
    display: inline-block;
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

section.is-work .work_title-btn:after {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: 500;
    width: 100%;
    content: attr(data-replace);
    transform-origin: 50% 100%;
    transform: translate3d(0, 200%, 0);
    transition: transform .35s cubic-bezier(0.76, 0, 0.24, 1);
}

section.is-work .work_title-btn:hover::after {
    transform: translate3d(0, 0, 0);
}

section.is-work .work_title-btn:hover span {
    transform: translate3d(0, -200%, 0);
}

section.is-work .work_wrapper {
    width: 100%;
    display: flex;
    gap: 1.25rem;
    align-items: first baseline;
    justify-content: space-between;
    margin-bottom: 9.25rem;
}

section.is-works {
    padding-top: 4rem;
}

section.is-works .works_heading {
    margin-top: 9.25rem;
    text-align: center;
}

section.is-works .works_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
}

.work_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-decoration: none;
    color: var(--black);
    position: relative;
}

.work_item a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.work_cta {
    position: absolute;
    pointer-events: none;
    background-color: var(--orange);
    width: 6.875rem;
    height: 6.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem;
    text-decoration: none;
    pointer-events: none;
    transform: scale(0);
    z-index: 2;
    transition: transform 0.3s .2s;
}

.work_cta li {
    transform: translateY(100%);
    transition: transform .2s 0s;
}

.work_cta.work_cta_visible {
    transform: scale(1);
    transition: transform 0.3s .17s;
}

.work_cta.work_cta_visible li {
    transform: translateY(0%);
    transition: transform .2s .5s;
}

.work_cta li {
    font-size: 0.875rem;
    line-height: normal;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    list-style-type: none;
    max-width: 10ch;
}

.work_banner {
    width: 100%;
    background: #EFEBDF;
    position: relative;
}

section.is-works .container-large {
    max-width: 110rem;
    margin-left: auto;
    margin-right: auto;
}

section.is-works .work_banner {
    height: 90dvh;
    min-height: 48rem;
    max-height: 60rem
}

section.is-works .work_item img {
    transform: scale(1.05);
    transition: .3s;
}

section.is-works .work_item:hover img {
    transform: scale(1);
    transition: .3s;
}

section.is-work .work_item img {
    transform: scale(1.05);
    transition: .3s;
}

section.is-work .work_item:hover img {
    transform: scale(1);
    transition: .3s;
}

section.is-work .work_item-detail {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

section.is-works .work_item-detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

section.is-work h2 {
    opacity: .9;
    line-height: 100%;
    transform: translateY(1rem);
}

section.is-work h3,
section.is-works h3 {
    opacity: .8;
}

section.is-works .works_heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 9.25rem;
}

section.is-works h1 {
    font-size: 11.25rem;
    opacity: .9;
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

footer .container-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

footer .footer_content {
    position: relative;
    width: 100%;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    padding: 8rem 0rem;
    overflow: hidden;
}

footer .footer_content .container-large {
    z-index: 1;
    position: relative;
}

footer .footer_content h2 {
    color: var(--white);
    text-align: center;
}

footer .footer_content p {
    color: var(--white);
    text-align: center;
}

footer .footer_content .buttons {
    display: flex;
    margin-top: 2rem;
}

footer .footer_background-img {
    position: absolute;
    left: -5rem;
    bottom: -5rem;
    z-index: 0;
}

footer .footer_details {
    width: 100%;
    background-color: var(--black2);
    padding: 1.5625rem 0rem;
}

footer .footer_details-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer .footer_details p {
    color: var(--white);
    opacity: .9 !important;
    font-size: 1rem;
}

footer .footer_socials-wrapper {
    display: flex;
    gap: 0.3125rem;
}

footer .footer_social {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border-radius: 6.25rem;
    transition: .3s;
}

footer .footer_social:hover {
    background-color: var(--orange);
    transition: .3s;
}

.testimonials_container {
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.testimonials_content {
    background-color: var(--black);
    overflow: scroll;
    width: 55%;
    max-width: 60rem;
    height: 100%;
    position: relative;
    transform: translateX(-100%);
    z-index: 999;
}

.testimonials_wrapper {
    margin: 4.6875rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.testimonial_overlay {
    background-color: var(--black);
    opacity: .3;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 998;
}

.testimonials_wrapper h2 {
    color: var(--white);
    font-size: 4.5rem;
}

.testimonials_wrapper .divider {
    background-color: var(--white);
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.is-case {
    padding-top: 4rem;
}

section.is-case .testimonial {
    gap: 2rem;
}

.testimonials_container .testimonial p {
    color: var(--white);
    font-size: 1.125rem;
}

section.is-case .testimonial p {
    font-size: 1.6rem;
}

.testimonials_container .subheading li {
    font-size: 0.875rem;
    font-weight: 500;
    opacity: .4;
    color: var(--white);
}

section.is-case .testimonial li {
    font-size: 1rem;
}

.testimonials_container .subheading span {
    width: 0.3125rem;
    height: 0.3125rem;
}

.testimonial_close-btn {
    border-radius: 4.44906rem;
    background: #3F3D3B;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 1.875rem;
    top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.testimonial_close-btn:hover {
    background: var(--orange);
    transition: .3s;
}

.testimonial-open,
.testimonial-close {
    cursor: pointer;
}

.case_wrapper {
    width: 100%;
    max-width: 59.1875rem;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    margin-top: 9.25rem;
}

section.is-case .case_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

section.is-case .case_img img {
    width: 100%;
    border-radius: 0.1875rem;
}

section.is-case p {
    max-width: 57ch;
    opacity: .6;
    font-weight: 300;
}

section.is-case h2,
section.is-case h3 {
    opacity: .9;
}

section.is-case .case_timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

section.is-case .case_timeline h3 {
    font-family: 'PPFormula', fallback, sans-serif;
    text-transform: uppercase;
    font-size: 2.375rem;
    letter-spacing: -1%;
    line-height: 100%;
}

section.is-case .timeline_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

section.is-case .timeline_box {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

section.is-case .timeline_row {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    position: relative;
}

section.is-case .timeline_time {
    display: flex;
    width: 2.1rem;
    height: 2.1rem;
    justify-content: center;
    align-items: center;
    border-radius: 25.89288rem;
    background: var(--orange);
}

section.is-case .timeline_time li {
    list-style-type: none;
    font-family: 'PPFormula', fallback, sans-serif;
    text-transform: uppercase;
    font-size: 0.9375rem;
    line-height: 100%;
    color: var(--white);
}

section.is-case .timeline_box .timeline_row:nth-child(1) p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.8;
    color: var(--black);
}

section.is-case .timeline_divider {
    width: 2.1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.is-case .timeline_divider-line {
    height: 90%;
    width: 1px;
    background-color: var(--orange);
    border-radius: 6.25rem;
}

section.is-case .timeline_p {
    margin-left: 3.5rem;
    max-width: calc(57ch - 3.3rem);
}

section.is-services .service_item h3 {
    overflow: hidden;
    line-height: 100%;
}

.about-illustration {
    position: absolute;
    right: 20vw;
    bottom: -15%;
    padding: 1rem;
}

.about-illustration_group {
    position: absolute;
    transition: transform 0.2s ease;
}

.services-clicked_container {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(24, 25, 28, 0.30);
}

.services-clicked_container .services-clicked_wrapper {
    background-color: var(--white);
    display: none;
    flex-direction: column;
    gap: 3.75rem;
    padding: 5rem;
    width: 50rem;
    max-width: 100%;
    border-radius: 1.625rem;
    z-index: 13;
    position: relative;
    opacity: 0;
}

.services-clicked_container .services-clicked_content {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    width: 100%;
    position: relative;
}

.services-clicked_container .services-clicked_intro {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services-clicked_container .services-clicked_intro a {
    color: var(--orange);
}

.services-clicked_container h3 {
    opacity: .9;
}

.services-clicked_container .services-clicked_included {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.services-clicked_container .services-clicked_included-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services-clicked_container .services-clicked_included-header li {
    color: var(--black);
    opacity: .6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    list-style-type: none;
    white-space: nowrap;
}

.services-clicked_container .services-clicked_included-line {
    width: 100%;
    height: 1px;
    position: relative;
}

.services-clicked_container .services-clicked_included-line:nth-child(1) {
    width: 10%;
}

.services-clicked_container .services-clicked_included-line::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--black);
    opacity: .1;
}

.services-clicked_container .services-clicked_included-line.show-animation::after {
    animation: services-divider-animation 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes services-divider-animation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.services-clicked_container .services-clicked_included-tags {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem 0.375rem;
    flex-wrap: wrap;
}

.services-clicked_container .services-clicked_included-tags li {
    display: flex;
    padding: 0.75rem 1.125rem;
    border-radius: 6.25rem;
    border: 1px solid rgba(37, 36, 34, 0.10);
    list-style-type: none;
    color: rgba(37, 36, 34, 0.80);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}

.services-clicked_close-btn {
    border-radius: 4.44906rem;
    background: var(--white2);
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: -2rem;
    top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.services-clicked_close-btn:hover {
    background: var(--orange);
    transition: .3s;
}

.services-clicked_close-btn path {
    transition: .3s;
}

.services-clicked_close-btn:hover path {
    transition: .3s;
    stroke: var(--white);
}

.services-clicked-open,
.services-clicked-close {
    cursor: pointer;
}

section.is-error404 .error404_content{
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

section.is-error404 h2 {
    text-align: center;
}

.loader {
    width: 100vw;
    height: 100dvh;
    background-color: var(--orange);
    animation: loader-animation .5s;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 999;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 10.51525rem;
    background: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.mobile-banner {
    display: none;
}

.logo_icon {
    display: none;
    width: 3.19rem;
}

.logo_text {
    width: 9.69rem;
}

@keyframes loader-animation {
    from {
        width: 100vw;
    }

    to {
        width: 0vw;
    }
}

@media only screen and (max-width: 1620px) {
    section.is-works .work_banner {
        height: auto;
        min-height: 0rem;
    }
}

@media only screen and (max-width: 1440px) {
    .container-medium {
        margin-left: 4rem;
    }

    .testimonials_content {
        width: 65%;
    }
}

@media only screen and (max-width: 1200px) {
    .case_wrapper {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1240px) {
    .container-medium {
        margin-left: 0rem;
    }

    section.is-services .services_wrapper {
        min-width: 16rem;
    }

    .testimonials_content {
        width: 75%;
    }
}

@media only screen and (max-width: 1100px) {
    section.is-services .container-large {
        padding: 0rem 4rem;
    }

    section.is-services .services_content {
        flex-direction: column;
        gap: 2rem;
        width: calc(100vw - 8.125rem);
    }

    section.is-services .services_wrapper {
        margin-right: 0rem;
        min-width: 100%;
    }

    .about-illustration {
        display: none;
    }

    section.is-work .work_wrapper {
        gap: 3rem;
        flex-direction: column;
    }

    section.is-about .about_content-wrapper {
        gap: 2rem;
    }

    section.is-work .work_title-wrapper {
        flex-direction: column;
        align-items: first baseline;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    section.is-work h2 {
        transform: translateY(0rem);
    }

    section.is-hero .hero_img-wrapper img {
        min-height: 40rem;
    }

    .testimonials_content {
        width: 100%;
    }

    .testimonial_overlay {
        display: none;
    }

    section.is-services {
        width: 100vw;
        overflow-x: hidden;
    }
}


@media only screen and (max-width: 1000px) {
    .services-clicked_container .services-clicked_wrapper {
        padding: 5rem 2rem;
        width: calc(98% - 4rem);
        max-height: calc(98% - 10rem);
    }

    .services-clicked_close-btn {
        right: 0rem;
        top: -3rem;
    }

    .services-clicked_container .services-clicked_included-tags li {
        padding: .7rem 1rem;
        font-size: .9rem;
    }

    .services-clicked_container .services-clicked_included-tags {
        gap: 0.3rem 0.2rem;
    }

    .services-clicked_container .services-clicked_content {
        gap: 2.5rem;
    }

    .services-clicked_container .services-clicked_included {
        gap: .6rem;
    }


    section.is-works h1 {
        font-size: 9rem;
    }

    section.is-hero .hero_title-wrapper {
        height: 16rem;
    }

    section.is-works .works_heading {
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 900px) {
    section.is-works .works_wrapper {
        gap: 3.125rem;
    }
}

@media only screen and (max-width: 864px) {
    section.is-case h2 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 700px) {
    .padding-global,
    section.is-hero.scrolled .hero_img-wrapper,
    section.is-services .container-large {
        padding: 0rem 2.2rem;
    }

    section.is-services .services_content {
        width: calc(100vw - 4.4rem);
    }

    footer .footer_content h2 {
        font-size: 6rem;
    }

    footer .footer_content p {
        font-size: 1rem;
    }

    section.is-works h1 {
        font-size: 7rem;
    }

    section.is-works .subheading li {
        font-size: 1rem;
    }

    section.is-works .works_heading {
        margin-bottom: 3rem;
    }

    .testimonials_wrapper {
        margin: 8rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
}

@media only screen and (max-width: 630px) {
    .nav_links .nav_link:nth-child(1) {
        display: none;
    }
}

@media only screen and (max-width: 588px) {
    section.is-case h2 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 500px) {
    .buttons {
        flex-direction: column;
        align-items: first baseline;
    }

    h1 {
        font-size: 10rem;
    }

    section.is-hero .hero_title-wrapper {
        height: 11rem;
    }

    h2 {
        font-size: 7rem;
    }

    p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 160%;
        opacity: .7;
    }

    section.is-hero .hero_h1-wrapper svg {
        height: 9rem;
        width: 9rem;
    }

    .padding-global,
    section.is-hero.scrolled .hero_img-wrapper,
    section.is-services .container-large {
        padding: 0rem 1rem;
    }

    section.is-services .services_content {
        width: calc(100vw - 2.5rem);
    }

    footer .footer_content h2 {
        font-size: 7rem;
    }

    .footer_details-wrapper {
        flex-direction: column;
        gap: 1.5rem;
    }

    .work_item .desktop-banner {
        display: none;
    }

    .mobile-banner {
        display: block !important;
    }

    section.is-works .work_item img {
        transform: scale(1);
    }
        
    section.is-work .work_item img {
        transform: scale(1);
    }

    .services-clicked_container .services-clicked_wrapper {
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 480px) {
    section.is-case h2 {
        font-size: 4.2rem;
    }

    .cursor_el {
        display: none;
    }
}

@media only screen and (max-width: 404px) {
    section.is-works .subheading li {
        font-size: .9rem;
    }

    section.is-works h1 {
        font-size: 6rem;
    }

    section.is-error404 h2 {
        font-size: 5rem;
    }

    section.is-case h2 {
        font-size: 3.9rem;
    }

    .logo_icon {
        display: block;
    }

    .logo_text {
        display: none;
    }
}